# Operands = int

In [6]:
print(2+2) # Operands = int
print(0.8+5.6+8.9)# Operands = float

4
15.3

# Operands = str

In [7]:
s = "5"+"4"+"3"
print(s)

543

ข้อควรระวัง

In [8]:
x = 32
print("This is number " + x)

TypeError: can only concatenate str (not "int") to str

# String multiplication

In [13]:
print("EI EI"*10)
print("XD"*5)

EI EIEI EIEI EIEI EIEI EIEI EIEI EIEI EIEI EIEI EI
XDXDXDXDXD

ข้อควรระวัง operand จะต้องเป็น int เท่านั้น

In [14]:
print("HI GUY"*4.5)

TypeError: can't multiply sequence by non-int of type 'float'

# Implicit Data Type Conversion
python จะแปลงข้อมูลให้เองเกิดขึ้นได้โดยอัตโนมัต
จะแปลงจากdata types ที่น้อยกว่าให้ตัวที่เก็บข้อมูลได้มากกว่า

In [16]:
print(35 + 32.50)
print(type(35 + 32.50))

67.5
<class 'float'>

In [18]:
print(type(1+1j+0.5))
print(type(5+6j+0.56+5.3))

<class 'complex'>
<class 'complex'>

# Explicit Data Type Conversion
เป็นการใช้คำสั่งในการแปลงค่าข้อมูล Data types เพื่อใช้เก็บข้อมูลในค่าใหม่
ได้แก่ 
- `int`
- `float`
- `str`
- `complex`
- `bool`

In [20]:
n = input("Please enter n: ")
result = float(n) ** 10

print("n = "+n+" --> n^10 = " +str(result))

Please enter n: 2
n = 2 --> n^10 = 1024.0

# int()

In [25]:
print(int("20"))
#print(float(2+2j))
#print(int("20.2"))
#print(int("Hello"))
print(int(True))
print(int(False))

20
1
0

# float()

In [34]:
print(float("20"))
#print(float(2+2j))
#print(float("20.2"))
#print(float("Hello"))
print(float(True))
print(float(False))

20.0
1.0
0.0

# complex()

In [28]:
print(complex("20"))
print(complex(2+2j))
print(complex("20.2"))
print(complex(True))
print(complex(False))

(20+0j)
(2+2j)
(20.2+0j)
(1+0j)
0j

# str()

In [33]:
print(str("20"))
print(str(2+2j))
print(str("20.2"))
print(str(True))
print(str(False))

20
(2+2j)
20.2
True
False

# bool()

In [35]:
print(bool("20"))
print(bool(2+2j))
print(bool("20.2"))
print(bool(True))
print(bool(False))

True
True
True
True
False